<!DOCTYPE html>
<html>
<head>
    <title>Agrani Bank Template</title>
    <script type="text/javascript">
        var stringData = '#JSONDATA';
        var receipt = "#RECEIPT";
    </script>
    <script src="../../scripts/templateScript.js"></script>
    <script src="file:///android_asset/agrani/templateScript.js"></script>
    <meta charset="utf-8" />
</head>
<body>
    <div class="main">
        <img class="logo" alt="logo" />
        <p class="copyWhom">গ্রাহক কপি</p>
        <p class="title"></p>
        <table class="dataTabel"></table>
        <table class="miniStatementTabel"></table>
        <p class="bold">Availabel Balance: <span class="availableBalance"></span></p>
        <div class="footerInfo">
            <p >ধন্যবাদ</p>
            <img class="agraniDoer" alt="AGRANI DOER" />
            <img class="poweredbycelloscope"  alt="Powered By Celloscope" />
        </div>
    </div>
    <div class="main">
        <img class="logo" alt="logo" />
        <p class="copyWhom">এজেন্ট কপি</p>
        <p class="title"></p>
        <table class="dataTabel"></table>
        <table class="miniStatementTabel"></table>
        <p class="bold">Availabel Balance: <span class="availableBalance"></span></p>
        <div class="footerInfo">
            <p>ধন্যবাদ</p>
            <img class="agraniDoer" alt="AGRANI DOER" />
            <img class="poweredbycelloscope" alt="Powered By Celloscope" />
        </div>
    </div>
    <div class="main">
        <img class="logo" alt="logo" />
        <p class="copyWhom">ব্য়াংক কপি</p>
        <p class="title"></p>
        <table class="dataTabel"></table>
        <table class="miniStatementTabel"></table>
        <p class="bold">Availabel Balance: <span class="availableBalance"></span></p>
        <div class="footerInfo">
            <p>ধন্যবাদ</p>
            <img class="agraniDoer" alt="AGRANI DOER" />
            <img class="poweredbycelloscope" alt="Powered By Celloscope" />
        </div>
    </div>
</body>
</html>
