<!DOCTYPE html>
<html>
<head>
    <title>Agrani Bank Template</title>
    <script type="text/javascript">
        var stringData = '#JSONDATA';
        var receipt = "#RECEIPT";
    </script>
    <script src="../../scripts/agrani/templateScript.js"></script>
    <script src="file:///android_asset/agrani/templateScript.js"></script>
    <meta charset="utf-8" />
</head>
<body>
    <div class="main">
        <img class="logo" alt="logo" />
        <table class="commonTwo12">
            <tr>
                <td class="userIdLabel" style=""></td>
                <td class="colon">:</td>
                <td class="userId" style=""></td>
            </tr>
            <tr>
                <td class="agentNameLabel"></td>
                <td class="colon">:</td>
                <td class="agentName"></td>
            </tr>
            <tr>
                <td class="boothAddressLabel"></td>
                <td class="colon">:</td>
                <td class="boothAddress"></td>
            </tr>
        </table>
        <p>Customer Copy</p>
        <p class="title"></p>
        <table class="commonTwo12">
            <tr>
                <td class="transactionDateLabel" style=""></td>
                <td class="colon">:</td>
                <td class="transactionDate" style=""></td>
            </tr>
            <tr>
                <td class="transactionIdLabel"></td>
                <td class="colon">:</td>
                <td class="transactionId"></td>
            </tr>
        </table>
        <table class="commonTwo12">
            <tr>
                <td class="accountNameLabel"></td>
                <td class="colon">:</td>
                <td class="accountName"></td>
            </tr>
            <tr>
                <td class="accountNumberLabel"></td>
                <td class="colon">:</td>
                <td class="accountNumber"></td>
            </tr>
            <tr>
                <td class="accountTypeLabel"></td>
                <td class="colon">:</td>
                <td class="accountType"></td>
            </tr>
        </table>
        <table class="commonTwo14"></table>
        <p>Thank You</p>
        <p>Solution Partner Celloscope</p>
    </div>
</body>
</html>
